$umber: #6B6054;
$artichoke: #929487;
$ash_grey: #A1B0AB;
$cambridge_blue: #C3DAC3;
// $font_size_small: 15px;
// $font_size_medium: 25px;
// $font_size_large: 40px;
$font_family: Arial, Helvetica, sans-serif;
$border_radius: 5px;
$font_size: 15px;