@import "_variables";

body {
    background-color: adjust-hue($artichoke, 90deg);

    h1, h2, h3, h4, h5, h6, p, input, textarea, input[type="text"], input[type="password"] {
        font-family: $font_family;
    }

    h1{
        font-size: $font_size * 12;
        color: $ash_grey;
    }

    h2{
        font-size: $font_size * 10;
        color: $ash_grey;
    }

    h3{
        font-size: $font_size * 8;
        color: $ash_grey;
    }

    h4{
        font-size: $font_size * 6;
        color: $ash_grey;
    }

    h5{
        font-size: $font_size * 4;
        color: $ash_grey;
    }

    h6 {
        font-size: $font_size * 2;
        color: $ash_grey;
    }

    p {
        a {
            color: $ash_grey;
            &:hover {
                text-decoration: underline;
                color: $umber;
            }
        }
    }

    p, input, textarea, table, figcaption, a {
        font-size: $font_size;
        color: $umber;
    }

    img, input[type="text"], input[type="password"], textarea {
        border-radius: $border_radius;
    }


}


